<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

<form class="d-flex justify-content-center mt-3" method="get" action="#" th:action="@{/filter}">
    <div class="w-75">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control w-50" id="nombre" aria-describedby="nombreAlumno" name="nombre">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="apellidoP">Apellido Paterno</label>
            <div class="col-sm-10">
                <input type="text" class="form-control w-50" id="apellidoP" name="paterno">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Consultar</button>
    </div>
</form>

<section class="d-flex justify-content-center mt-5">
    <table class="table mt-2 w-75">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Paterno</th>
            <th scope="col">Materno</th>
            <th scope="col">Perfil</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <th th:text="${usuario.idUsuario}"></th>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.apPaterno}"></td>
            <td th:text="${usuario.apMaterno}"></td>
            <td th:text="${usuario.perfil.nombre}"></td>
            <td>
                <a class="btn btn-danger"
                   href="#" role="button" th:href="@{/delete/{id}(id=${usuario.idUsuario})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>


<script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                        crossorigin="anonymous"></script>
</body>
</html>